/* ===================================
=container
=================================== */

.container {
  --container-padding: 18px;
  --container-max-size: 1640px;

  max-inline-size: var(--container-max-size);
  padding-inline: var(--container-padding);
  margin: 0 auto;

  @media (width >= 750px) {
    --container-padding: 30px;
  }
}
